* {
    touch-action: pan-y;
}
body,
html {
    margin: 0;
    padding: 0
}
:root {
    --main-bg: rgb(200, 255, 255);
}
html {
    width: 750px;
    height: 100%;
    background-color: #ccc;
}
html[data-theme='dark'] {
    background-color: #ff6600;
}

body {
    min-height: 100%;
    background-color: #f4f4f4;
}

*,
:after,
:before {
    box-sizing: border-box
}

li,
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0
}

figure {
    display: block;
    margin: 0
}

img {
    width: 100%;
    height: auto;
    vertical-align: top
}

.block {
    margin-top: 15px;
}

[aspectratio] {
    position: relative;
}
[aspectratio]:before {
    content: "";
    display: block;
    width: 1px;
    margin-left: -1px;
    height: 0;
}

[aspectratio-content] img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

/* banner图片 */

[flexContainer] {
    display: flex;
    width: 750px;
}

[w-750-235] {
    width: 750px;
}

/* 布局图片 */

[w-369] {
    width: 369px;
}

[w-369] h2 span {
    background: #FF5000;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    font-size: 20px;
    text-shadow: 0 2px 2px #FF5000;
    padding: 2px 5px;
    margin-right: 5px;
}

[w-375-224] {
    width: 375px;
}



[w-188-246] {
    width: 188px;
}

[w-187-246] {
    width: 187px
}

header{
    /* padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 50px;
    font-weight: bold;
    color:rgb(92, 92, 92);
    background: #eee;
    font-size: 50PX;   /*还有一种投机取巧的方法是px写成大写PX这样也不会进行转换*/

}
.delete { display: none; }
#items {
    width: 750px;
    background-color: var(--main-bg);
}
#items li{
    height: 200px;
    font-size: 20px;
}
.swiper-container {
    width: 750px;
    height: 300px;
} 
.swiper-container{
    --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
    --swiper-navigation-color: #333;/* 单独设置按钮颜色 */
    --swiper-navigation-size: 30px;/* 设置按钮大小 */
  }
.content {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fill,20%);
    grid-template-rows: repeat(2,250px);
    grid-gap: 20px 20px;  
    justify-content: space-evenly;
    color: #fff;
}
.content> div:first-of-type {
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background: #FF5000;
}
.content> div:nth-of-type(2) {
    background-color: #3333;
}
.content> div:nth-of-type(3) {
    background-color: rgba(224, 14, 84, 0.2);
}
.content> div:nth-of-type(4) {
    background-color: rgba(241, 13, 13, 0.952)
}

